.container {
    width: 960px;
    margin: 20px auto;
    border: 2px solid black;
    overflow: hidden;
}
/* Layout bị vỡ */
.broken.sidebar {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    float: left;
    background: #f8d7da;
}
.broken.content {
    width: 600px;
    padding: 30px;
    border: 1px solid #ccc;
    float: left;
    background: #d1ecf1;
}

/* Cách 1 */
.fixed1 * {
    box-sizing: border-box;
}
.fixed1.sidebar {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    float: left;
    background: #d4edda;
}
.fixed1.content {
    width: 660px;
    padding: 30px;
    border: 1px solid #ccc;
    float: left;
    background: #cce5ff;
}
/* Cách 2 */
.fixed2.sidebar {
    width: 258px;
    padding: 20px;
    border: 1px solid #ccc;
    float: left;
    background: #fff3cd;
}
.fixed2.content{
    width: 598px;
    padding:30px;
    border: 1px solid #ccc;
    float: left;
    background: #bee5eb;
}