/* element */
p { color: black;} /* (0,0,1) */

/* class */
.text {color: blue;} /* (0,1,0) */

/* class khác */
.hightlight {color: orange;} /* (0,1,0) */

/* 2 class */
.text.higthlight {color: purple;} /* (0,2,0) */

/* element + class */
p.text {color: green;} /* (0,1,1) */

/* element + class + cSlass */
p.text.hightlight{color: brown;} /* (0,2,1) */

/* ID */
#demo {color: red} /* (1,0,0) */

/* ID + element */
p#demo {color: pink;} /* (1,0,1) */

/* ID + 1 class */
#demo.text {color: teal;} /* (1,1,0) */

/* ID + 2 class + element */
p#demo.text.higthlight {color: gold !important;} /* (1,2,1) */