* {
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
    margin: 0;
}

#main-header {
    background-color: lỉnear-gradient(to right, #4facfe, #00f2fe);
    color: white;
    padding: 20px;
}

#main-header nav a{
    margin-right: 15px;
    text-decoration: none;
    color:white;
}

#main-header nav a:hover{
    text-decoration: underline;
    color: yellow;
}

.active {
    font-weight: bold;
    border-bottom: 2px solid white;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td{
    border: 1px solid #ccc;
    padding: 10px;
}

tr:nth-child(even){
    background-color: #00f2fe;
}

tr:hover {
    background-color: #ddd;
}

footer {
    background-color: #222;
    color: #aaa;
    text-align: center;
    padding: 15px;
}